/* global */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #1a1c1d;
  color: #FAFAFA;
}
input[type=text] {
	background: #3c4245;
	border: 1px solid #fafafa;
	color: #FAFAFA;
}

/* utility */

.hidden {
	display: none;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}

/* specific */

.formula {
	text-align: center;
	background: #242729;
	margin-bottom: 10px;
}
.formula-name, .remove-formula, .add-formula {
	font-size: 18px;
	font-weight: bold;
}
table {
	margin: auto;
}
thead th {
	font-weight: normal;
}
